body {
  padding-top: 60px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
    display: none !important;
}

#welcome{
  margin-top: 3em;
  .jumbotron{
    ul{
      li{
        font-size: 1.5em;
      }
    }
  }
}
.visible {
  visibility: visible !important;
}
#loading{
  color: #FFF;
  margin-top: -4px;  
  img{
    width: 32px;
  }
}
#transactions-panel, #graphics-panel{
  visibility: hidden;
}
#transactions-panel{
  .table-responsive{
    overflow-y: scroll;
    margin-top: 8px;
    tbody{
      tr{
        td{
          font-size: 12px;
          cursor: pointer;
        }
        &.extreme-danger{
          background-color: #c71c22;
          color: #FFFFFF;
          &:hover{
            background-color: #9A161A;
          }  
        }
      }
    }
  }
}
.page-header{
	.accounts-info{
		margin-bottom: 5px;
	}
}

#main-actions, #date-picker-start, #date-picker-end{
  padding: 0;
}

form.delete {
  display: inline;
}

.dropdown-menu > li > a, .dropdown-menu > li > a:hover{
	color: #000;
}

.ui-datepicker{
  z-index: 10 !important;
}

.datepicker{
  float: left;
  margin-right: 10px;
}

div#categorias-div {
    height: 450px;
}

@media (max-width: 768px) {
  #bienvenida{
    margin-top: 2em;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav > li > a {
    padding: 10px 3px;
  }
}